<ion-header>
  <ion-toolbar color="primary">
    <ion-title>首页</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="type">
    <ion-segment-button value="1">
      <ion-label>建单</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>历史</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>账单</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm">
    <ion-item>
      <ion-label>箱&nbsp;&nbsp;&nbsp;号:</ion-label>
      <ion-input name="ctnNo" [(ngModel)]="model.ctnNo" type="text" placeholder="请输入箱号" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>提单号:</ion-label>
      <ion-input name="ladingBillNumber" [(ngModel)]="model.ladingBillNumber" type="text" placeholder="请输入提单号"
        required>
      </ion-input>
    </ion-item>
    <div class="ion-padding">
      <div class="imgDiv">
          <ion-img *ngIf="!img" [src]="addImage" (click)="upload()"></ion-img>
          <ion-img *ngIf="img" [src]="img"></ion-img>
      </div>
    </div>
    <ion-button color="primary" expand="block" class="ion-margin-top" (click)="submit()">提交</ion-button>
  </form>

  <input id="imageUpload1" #imageUpload1 type="file" accept="image/*" style="display: none"
    (change)="imageUpload(imageUpload1)" />

</ion-content>