<ion-content>

  <ion-img src="../../assets/image/login.png">
  </ion-img>

  <form #form="ngForm" class="ion-padding">
    <ion-item>
      <ion-icon slot="start" name="phone-portrait"></ion-icon>
      <ion-input name="userName" [(ngModel)]="model.userName" type="text" placeholder="请输入手机号" required>
      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-icon slot="start" name="lock"></ion-icon>
      <ion-input name="password" [(ngModel)]="model.password" type="password" placeholder="请输入密码" *ngIf="eye" required>
      </ion-input>
      <ion-input name="password" [(ngModel)]="model.password" type="text" placeholder="请输入密码" *ngIf="!eye" required>
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="eye=!eye;">
        <ion-icon name="eye" *ngIf="eye"></ion-icon>
        <ion-icon name="eye-off" *ngIf="!eye"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-button class="ion-padding-top" color="primary" expand="block" class="ion-margin-top" (click)="submit()" [disabled]="(!model.userName)||(!model.password)">登录
    </ion-button>
    <div class="ion-padding"><a style="float: left;text-decoration: none;" [routerLink]="['/register']">我要注册</a><a
        style="float: right;text-decoration: none;" [routerLink]="['/forget-password']">忘记密码</a></div>
  </form>

</ion-content>