<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>账单</ion-title>
    <ion-chip color="light" slot="end" (click)="gotoPaySearch()">
      <ion-icon name="search"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="上拉刷新" refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <h5 style="text-align: center;">本月合计</h5>
    <h2 style="text-align: center;">￥{{total}}元</h2>

    <ion-item-group *ngFor="let item of list">
      <ion-item-divider>
        <ion-label>订单编号:{{item?.pack_no}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-avatar>
          <img src="assets/image/dan.jpg">
        </ion-avatar>
        <ion-label class="ion-padding-start">
          <p>提单号:{{item?.ctnno}}<span class="ion-float-end">{{item.fee}}元</span></p>
          <ion-note slot="end">{{item?.create_time | date:'MM-dd HH:mm'}}</ion-note>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <img class="ion-margin-top" src="assets/image/noData.png" *ngIf="list.length==0&&!common.isLoading">
    <p *ngIf="list.length==0&&!common.isLoading" class="ion-text-center">暂无数据</p>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>