<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>账单</ion-title>
    <ion-chip color="light" slot="end" (click)="gotoPaySearch()">
      <ion-icon name="search"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="上拉刷新" refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <h5 style="text-align: center;">本月合计</h5>
    <h2 style="text-align: center;">￥{{total}}元</h2>

    <ion-item *ngFor="let item of list" lines="none">
      <ion-label>
        <h4>箱&nbsp;&nbsp;&nbsp;号:{{item?.ctnno}}<span style="float: right;color: red">{{item?.price}}元</span></h4>
        <h4>提单号:{{item?.ladingbillnumber}}</h4>
        <p>时&nbsp;&nbsp;&nbsp;间:{{item?.send_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </ion-label>
    </ion-item>

    <img class="ion-margin-top" src="assets/image/noData.png" *ngIf="list.length==0&&!common.isLoading">
    <p *ngIf="list.length==0&&!common.isLoading" class="ion-text-center">暂无数据</p>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>