<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{model.bill_no}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm">
    <ion-item>
      <ion-label>箱号:</ion-label>
      <ion-input style="text-align:right;" name="ctnno" [(ngModel)]="model.ctnno" type="text" placeholder="未填写"
        readonly>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>提单号:</ion-label>
      <ion-input style="text-align:right;" name="ladingbillnumber" [(ngModel)]="model.ladingbillnumber" type="text"
        placeholder="未填写" readonly>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>订单状态:</ion-label>
      <ion-input style="text-align:right;" name="stateDesc" [(ngModel)]="stateDesc" type="text" readonly>
      </ion-input>
    </ion-item>
    <div class="ion-padding">
      <div class="imgDiv">
        <img *ngIf="model.file_url" [src]="model.file_url" (click)="gotoImageDetail()">
      </div>
    </div>
  </form>

</ion-content>