// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #2b333e;
  --ion-color-primary-rgb: 34, 34, 34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e2023;
  --ion-color-primary-tint: #383a3e;
  --ion-text-color:             #808080;
  --ion-text-color-rgb:         128,128,128;
  --ion-placeholder-color: #999999;
  --ion-background-color: #f7f7f7;

  --ion-color-secondary: #7a9ad7;
  --ion-color-secondary-rgb: 56, 128, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3171e0;
  --ion-color-secondary-tint: #4c8dff;
}
