<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-right: 0;">清单</ion-title>
    <ion-chip color="light" slot="end" (click)="gotoOrderSearch()">
      <ion-icon name="search"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="上拉刷新" refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of list" class="ion-padding-top">
    <ion-item (click)="gotoOrderDetail(item.id)">
      <ion-label>订单编号:{{item?.bill_no}}</ion-label>
      <ion-note slot="end" *ngIf="item?.left>0" style="color:red;">
        {{item.left}}秒
      </ion-note>
    </ion-item>
    <ion-item lines="none" (click)="gotoOrderDetail(item.id)">
      <ion-thumbnail slot="start">
        <img *ngIf="item?.file_url" [src]="item?.file_url">
        <img *ngIf="!item?.file_url" src="assets/image/noImage.jpg">
      </ion-thumbnail>
      <ion-label>
        <p>
          箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：{{item?.ctnno}}
        </p>
        <p>
          下单时间：{{item?.create_time | date:'MM-dd HH:mm'}}
        </p>
        <p>
          订单状态：{{common.getStatusDesc(item.app_state)}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-buttons slot="end">
        <ion-button fill="solid" color="primary" [disabled]="!(item.state==0&&item?.left>0)" (click)="cancelOrder(item)">
          取消
        </ion-button>
        <ion-button fill="solid" color="primary" [disabled]="!(item.state<2||item.state==3)"
          (click)='changeOrder(item)'>
          修改
        </ion-button>
        <ion-button fill="solid" color="primary" [disabled]="!(item.state==8)" (click)='reSendOrder(item)'>
          重新发送
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>


  <!-- <ion-item-group *ngFor="let item of list">
    <ion-item-divider>
      <ion-label>订单编号:{{item?.bill_no}}</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img *ngIf="item?.file_url" [src]="item?.file_url">
        <img *ngIf="!item?.file_url" src="assets/image/noImage.jpg">
      </ion-thumbnail>
      <ion-label>
        <p>
          箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：{{item?.ctnno}}
        </p>
        <p>
          下单时间：{{item?.create_time | date:'MM-dd HH:mm'}}
        </p>
        <p>
          订单状态：{{common.getStatusDesc(item.app_state)}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-buttons slot="end">
        <ion-button fill="solid" color="primary" *ngIf="item.state==0" (click)="cancelOrder(item)">
          取消
        </ion-button>
        <ion-button fill="solid" color="primary" *ngIf="item.state<2||item.state==3" (click)='changeOrder(item)'>
          修改
        </ion-button>
        <ion-button fill="solid" color="primary" *ngIf="item.state==8" (click)='reSendOrder(item)'>
          重新发送
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group> -->

  <img class="ion-margin-top" src="assets/image/noData.png" *ngIf="list.length==0&&!common.isLoading">
  <p *ngIf="list.length==0&&!common.isLoading" class="ion-text-center">暂无数据</p>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>