<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>忘记密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="ion-margin-top">
    <ion-icon slot="start" name="phone-portrait"></ion-icon>
    <ion-input name="phone" [(ngModel)]="phone" type="text" placeholder="请输入手机号" required>
    </ion-input>
  </ion-item>

  <ion-button color="primary" expand="block" class="ion-margin-top" (click)="submit()" [disabled]="!phone">下一步</ion-button>

</ion-content>