<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>日&nbsp;&nbsp;&nbsp;期：</ion-label>
    <ion-datetime [(ngModel)]="model.create_time" display-format="YYYY-MM-DD" placeholder="请选择日期" cancelText="取消"
      doneText="确定"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>关键字：</ion-label>
    <ion-input style="text-align:right;" name="keyword" [(ngModel)]="model.keyword" type="text" placeholder="请输入关键字">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>未发送：</ion-label>
    <ion-toggle [(ngModel)]="nosend"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>已发送：</ion-label>
    <ion-toggle [(ngModel)]="send"></ion-toggle>
  </ion-item>

  <ion-button color="primary" expand="block" class="ion-margin-top" (click)="submit()">搜索</ion-button>

</ion-content>